<!DOCTYPE html>
<html>
      <head>
           <title> my Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>
      <body>
        
          <h2 class="foot1"> {{title}}  </h2>

          <div class="footer1" >
            <a href="/">Home</a>
            <a href="/service">Service</a>
            <a href="/team">Team</a>
             <a href="/profile">Profile</a>
              <a href="/about">Anout</a>
          </div>
          
      </body>
</html>